<ion-header>
    <ion-toolbar color="medium">
        <ion-buttons slot="start">
            <ion-button (click)="backToSearch()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{searchQuery}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding
             [scrollEvents]="true"
             (ionScroll)="scrollEvent()">
    <ion-list class="books-list">
        <div *ngFor="let book of books" class="book-item">
            <ion-grid>
                <ion-row class="first-row">
                    <ion-col size="4">
                        <img *ngIf="book.volumeInfo.imageLinks && book.volumeInfo.imageLinks.thumbnail"
                             src="{{book.volumeInfo.imageLinks.thumbnail}}"/>
                    </ion-col>
                    <ion-col size="8">
                        <div>
                            <strong><p>{{ book.volumeInfo.title }}</p></strong>
                        </div>
                        <div>
                            <p *ngIf="book.volumeInfo.authors">{{book.volumeInfo.authors.join(', ')}}</p>
                        </div>
                        <div *ngIf="book.customCategories">
                            <div *ngFor="let customCategory of book.customCategories" class="book-category {{customCategory}}"></div>
                        </div>
                        <div  *ngIf="book.accessInfo.pdf.isAvailable && book.accessInfo.pdf.downloadLink" (click)="downloadBook(book)">
                            <ion-button size="small" color="success">
                                <ion-icon name="download"></ion-icon>
                            </ion-button>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row class="second-row">
                    <ion-col size="12">

                        <div *ngIf="book.volumeInfo.description">
                            <p *ngIf="!book.showCompleteDescription">
                                <span>{{ book.volumeInfo.description | slice:0:100}}</span>
                                <span *ngIf="book.volumeInfo.description.length > 100">
                                    ... <span class="expand-description"
                                              (click)="expandDescription(book)"> Ver mas</span>
                                </span>
                            </p>
                            <p *ngIf="book.showCompleteDescription">
                                <span>{{ book.volumeInfo.description }}</span>
                                <span class="expand-description"
                                      (click)="contractDescription(book)"> Ver menos</span>
                            </p>

                        </div>
                        <div *ngIf="!book.volumeInfo.description">
                            <p>
                                Sin descripción
                            </p>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </div>
    </ion-list>

    <ion-infinite-scroll threshold="25%" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="Cargando...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <div [hidden]="!scrolled" class="float-button" shape="round" (click)="goToTop()">
        <ion-button size="default" color="secondary">
            <ion-icon name="arrow-up"></ion-icon>
        </ion-button>
    </div>
</ion-content>
